<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>OLHA O TEMPO</title>
  </head>
  <body>
    <div class="container">
      <form class="search" method="post">
        <i class="fa-solid fa-location-dot"></i>
        <input
          type="search"
          name="name_city"
          class="nome_cidade"
          placeholder="Buscar Cidade"
        />
        <button type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

      <div id="weather">
        <h1 id="title">{{nome}}</h1>

        <div class="infos">
          <div class="temp">
            <img
              id="nuvem"
              src="https://cdn0.iconfinder.com/data/icons/weather-888/32/weather_cloud_cloudy_sun_sunny-12-512.png"
              alt="Cloudy weather icon"
            />
            <div>
              <p class="temp_value">{{temperatura}} <sup>&deg;C</sup></p>
              <p id="temp_description">{{clima}}</p>
            </div>
          </div>

          <div id="other_infos">
            <div class="info">
              <i id="temp_max_icon" class="fa-solid fa-temperature-high"></i>
              <div>
                <h2>Temp. max</h2>
                <p class="temp_max">{{temp_max}} <sup>&deg;C</sup></p>
              </div>
            </div>

            <div class="info">
              <i id="temp_min_icon" class="fa-solid fa-temperature-low"></i>
              <div>
                <h2>Temp. min</h2>
                <p id="temp_min">{{temp_min}} <sup>&deg;C</sup></p>
              </div>
            </div>

            <div class="info">
              <i id="humidity_icon" class="fa-solid fa-droplet"></i>
              <div>
                <h2>Humidade</h2>
                <p class="humidity">{{humidade}}%</p>
              </div>
            </div>

            <div class="info">
              <i id="wind_icon" class="fa-solid fa-wind"></i>
              <div>
                <h2>Vento</h2>
                <p class="wind">{{vento}} km/h</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="alert"></div>
    </div>
  </body>
</html>
